

/*Common styles*/

* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img, embed, video, object {
	max-width: 100%;
}

a, button {
	min-width: 48px;
	min-height: 48px;
}


/*Custom styles*/


/*Elements*/

html, body {
	width: 100%;
	height: 100%;
	color: #2d3c49;
	font-family: sans-serif;
}

header {
	height: 50vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

h1, h2, h4 {
	font-weight: normal;
}

h2{
	font-size: 25px;
	text-align: center;
	margin: 10px;
}

hr {
	border-top: 1px solid #7d97ad;
	width: 100%;
	margin-bottom: 20px;
}

main{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}


/*Classes*/

.container {
	width: 100%;
	height: 100%;
	padding: 0 10px 0 10px;
}

.logo img {
	width: 75px;
	border-radius: 50%;
}

.title{
	text-align: center;
}

.heading{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

/*IDs*/

#quote{
	width: 95%;
}

#ft-work{
	width: 100%;
}

/*Media Queries*/

